DEBIAN_BASE_IMAGE=debian:12-slim
DEBIAN_IMAGE_NAME=docker-cookbook/debian-libfaketime:12
DEBIAN_CONTAINER_NAME=debian-libfaketime

TZ=UTC

# Uncomment for time-travel testing. Leave empty for normal system time.
# FAKETIME=@2024-01-02 03:04:05
FAKETIME=
FAKETIME_NO_CACHE=1
FAKETIME_DONT_FAKE_MONOTONIC=
FAKETIME_TIMESTAMP_FILE=
FAKETIME_FOLLOW_FILE=
FAKETIME_START_AFTER_SECONDS=
FAKETIME_STOP_AFTER_SECONDS=
FAKETIME_START_AFTER_NUMCALLS=
FAKETIME_STOP_AFTER_NUMCALLS=
FAKETIME_DISABLE_SHM=
